<div class="cart">
    {{! <div class="cart-div"> }}
    <div class="cart-text-border">
        <h1 class="cart-h1">Cart</h1>
    </div>
    <div class="cart-flex">
        <div class="items-in-cart">
            {{#each products}}

                <a href="/products/{{this.name}}" class="cart-item">
                    <img src="{{this.image}}" />
                    <div class="content">
                        <h2>{{this.name}}</h2>
                        <p>{{this.description}}</p>
                        <p>{{this.price}} kr</p>
                    </div>
                </a>
            {{/each}}

        </div>
        <div>
            <div class="info-div">
                <h2>Price:</h2>
                {{#each products}}
                    <p>{{this.name}}: {{this.price}} kr</p>
                {{/each}}
                <br />
                <p>Total: {{total}} kr</p>
            </div>
            <div class="check-out">

                <p>By checking out you agree to our User agreement and TOS.</p>
                <input type="checkbox" class="check">

            </div>
            <div class="check-out-button">
                <a href="#">Check Out</a>
            </div>
        </div>
    </div>
    {{! </div> }}

</div>