<img class="bg" src="/deepwatah.jpg" alt="bg">
<div class="bg-overlay"></div>
<div class="search">
    <div class="searchfield">
        <p> search </p>
    </div>
</div>
<div class="flex">
    <div class="category">
        <p>Porple</p>
    </div>
    <div class="products">
        {{#each products}}
        <div class="product">
            <a href="/products/{{this.name}}"><img src="{{this.image}}" alt="{{this.name}}"></a>
            <div class="info">
                <div class="title">
                    <h2>{{this.name}}</h2>
                </div>
                <!--<p>{{this.description}}</p> -->
                <div class="price">
                   <p>Doge<br>{{this.price}}</br></p>
                </div>
                <!--<a href="/products/{{this.name}}">Läs mer</a> -->
            </div>
        </div>
        {{/each}}
    </div>
</div>