<div id="product">
    <div class="product-info-container">
        <div>
            <img src="/products/{{item.id}}.jpg" alt="{{item.name}}" draggable="false" />
            <div>
                <h2>{{item.name}}</h2>
            </div>
        </div>
        <div>
            <p>{{item.description}}</p>
        </div>
    </div>
    <div class="purchase-container">
        <div>
            <p>Price:</p>
            <h3>{{item.price}}₽</h3>
        </div>
        <div>
            <p>Stock:</p>
            <h3>{{item.stock}}</h3> {{! TODO: replace with item.stock }}
        </div>
        <button hx-post="/products/{{item.id}}" hx-swap="none">Add to cart</button>
    </div>
</div>